@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    border: 0px solid #202C32;
    border-bottom: 5px solid #202C32;
    border-style: ridge;
    border-radius: 0%
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #005377;
}